<!doctype html>
<!-- Website Section -->

<section class="website-section">
    <div class="about-text">
        
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading">About The Website</h2>
                <h3 class="section-subheading text-primary">Technical information regarding this website's construction.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 skip-md-1">
                <h4>Responsive Design</h4>
                <p>This website was constructed with HTML5, CSS3, and Javascript to achieve a  
                "responsive design" and was built upon an AngularJS Single-Page Application (SPA)
                framework.  It also employs Twitter's bootstrap which is "the most popular HTML,
                CSS, and JS framework for developing responsive, mobile first projects on the web."  
                This allows the website to be viewed on multiple devices, from large desktop screens 
                to mobile devices like tablets and smartphones.  The cascading style sheets were 
                created using LESS, a pre-compiler for generating Cascading Style Sheet (CSS) files, 
                and all menu items and social media links utilize Glyphicons.</p>
                <!-- <p>Font-Awesome Icons</p> -->
                <div>
                    <ul class="list-inline">
                        <li><a target="_blank" href="http://alistapart.com/article/responsive-web-design"><img src="img/logos/web/responsive_web_design.png"></a></li>
                        <li><a target="_blank" href="http://en.wikipedia.org/wiki/HTML5"><img src="img/logos/web/HTML5.png"></a></li>
                        <li><a target="_blank" href="http://en.wikipedia.org/wiki/Cascading_Style_Sheets#CSS_3"><img src="img/logos/web/CSS3.png"></a></li>
                        <li><a target="_blank" href="https://www.javascript.com/"><img src="img/logos/web/javascript_logo.png"></a></li>
                        <li><a target="_blank" href="https://jquery.com/"><img src="img/logos/web/jquery.png"></a></li>
                        <li><a target="_blank" href="http://www.getbootstrap.com"><img src="img/logos/web/bootstrap.png"></a></li>
                        <li><a target="_blank" href="http://glyphicons.com/"><img src="img/logos/web/glyphicons.jpg"></a></li>
                    </ul>
                </div>                    
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 skip-md-1">
                <h4>Single Page Application</h4>
                <p>This website uses a Single Page Application design, meaning that all content is 
                presented using a single HTML file as its base and sections of that base page are
                swapped out/replaced by other content that the user has selected to see.  This 
                eliminates the need to repaint the entire screen in order to load multiple HTML
                pages everytime the user moves from one page to another.  Using the AngularJS 
                framework and its User Interface extension, Angular-UI, this website takes the 
                standard Model-View-Controller (MVC) pattern and extends it, employing a 
                Model-View-Whatever design, including dependency injection, directives, two-way
                data binding, controllers, services, and filters.</p>
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li><a target="_blank" href="https://www.angularjs.org"><img src="img/logos/web/angular.jpg"></a></li>
                        <li><a target="_blank" href="https://angular-ui.github.io/"><img src="img/logos/web/angularui.png"></a></li>
                        <li><a target="_blank" href="http://en.wikipedia.org/wiki/JavaScript"><img src="img/logos/web/javascript.png"></a></li>
                        <li><a target="_blank" href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller"><img src="img/logos/web/mvc.png"></a></li>
                        <li><a target="_blank" href="https://en.wikipedia.org/wiki/AngularJS"><img src="img/logos/web/mvw.png"></a></li>
                    </ul>
                </div>                    
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 skip-md-1">
                <h4>Development Automation</h4>
                <p>This website was developed, constructed and compiled using some build automation 
                tools like Node, Bower, Gulp, and Less.  Node.js® is a JavaScript 
                runtime built on Chrome's V8 JavaScript engine. Node.js' package ecosystem, npm,
                is the largest ecosystem of open source libraries in the world.</p>  
                <p>Bower manages components that contain HTML, CSS, JavaScript, fonts or image files.  
                Bower simply installs the right versions of the packages one needs and as well as 
                their dependencies.</p> 
                <p>Gulp is a tool used in developing websites by watching for changes
                in files and then rebuilding and redisplaying the website immediately based on those 
                changes.  Either can be used to reduce the development and testing time and 
                particularly when needing to test a website on multiple devices.</p>
                <p>The Less compiler provides the developer with an increased versatility
                in the creation of Cascading Style Sheets.</p>
                <div class="col-md-12">
                    <ul class="list-inline">
                        <li><a target="_blank" href="https://www.npmjs.com"><img src="img/logos/web/node.png"></a></li>
                        <li><a target="_blank" href="http://bower.io"><img src="img/logos/web/bower.png"></a></li>
                        <li><a target="_blank" href="http://gulpjs.com"><img src="img/logos/web/gulp-2x.png"></a></li>
                        <li><a target="_blank" href="http://lesscss.org"><img src="img/logos/web/less.png"></a></li>
                    </ul>
                </div>                    
            </div>
        </div>

    </div>

    <br/><br/><br/><br/>
</section>

