/**
 ****************************************************************************
 **
 ** @ngdoc overview
 ** @name sections.less
 **
 ** @description
 ** LESS/CSS for each section within the app.
 ** Utilizes Responsive Web Design and CSS3 features and functionality.
 **
 *****************************************************************************
 **/
/*****************************************************************************
 **
 ** @ngdoc overview
 ** @name variables.less
 **
 ** @description
 ** CSS / LESS variables to be imported into the other LESS files
 **
 ****************************************************************************/
/**
  ** Define color variables
  **/
/**
 ** Define photo dimensions
 **/
/**
 ** Google Device Widths
 **
 ** LDT - 1440px - Large Desktop
 ** NDT - 1024px - Normal Desktop
 ** TAB -  768px - Tablet
 ** LMB -  425px - Large Mobile
 ** MMB -  375px - Medium Mobile
 ** SMB -  320px - Small Mobile
 **
 ** Bootstrap Screen Widths
 **
 ** @size_xl            : "1200px";
 ** @size_lg            : "1072px";
 ** @size_md            : "992px";
 ** @size_sm            : "768px";
 ** @size_xs            : "350px";
 **
 **/
/*****************************************************************************
 ** END OF FILE - variables.less
 ****************************************************************************/
/*****************************************************************************
 **
 ** @ngdoc overview
 ** @name mixins.less
 **
 ** @description
 ** CSS / LESS definitions to be imported into the other LESS files
 **
 ****************************************************************************/
.dropdown-menu {
  background-color: transparent;
  list-style: none;
  margin-left: 0;
  text-align: left;
}
/*****************************************************************************
 ** END OF FILE - mixins.less
 ****************************************************************************/
.container,
.container-fluid {
  border: 0px solid transparent;
}
section {
  background: -webkit-linear-gradient(#ffffff, #c5f7c5, transparent);
  background: -moz-linear-gradient(#ffffff, #c5f7c5, transparent);
  background: -ms-linear-gradient(#ffffff, #c5f7c5, transparent);
  background: -o-linear-gradient(#ffffff, #c5f7c5, transparent);
  background: linear-gradient(#ffffff, #c5f7c5, transparent);
  color: #000000;
  font-size: 14pt;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  top: 0px;
}
section .section-heading {
  font-family: "Montserrat", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: uppercase;
  font-size: 20pt;
  margin-top: 60px;
  overflow-x: wrap;
  overflow-y: wrap;
  text-shadow: 2px 3px 6px #808080;
  word-wrap: break-word;
}
section .section-subheading {
  font-family: "Droid Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  color: #666666;
  font-size: 16pt;
  font-style: italic;
  font-weight: 400;
  margin: 0px auto 0px;
  text-shadow: 2px 2px 4px #808080;
  text-transform: none;
  word-wrap: break-word;
}
section .theResult {
  background-color: green;
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
}
/**
 ** Google & Bootstrap Device Sizes
 **
 ** 1440px - Large Desktop
 ** 1200px - size_xl
 ** 1072px - size_lg
 ** 1024px - Normal Desktop
 **  992px - size_md
 **  768px - size_sm
 **  768px - Tablet
 **  425px - Large Mobile
 **  375px - Medium Mobile
 **  350px - size_xs
 **  320px - Small Mobile
 **
 **/
@media (min-width: 1440px) {
  section .section-heading {
    font-size: 50pt;
  }
  section .section-subheading img {
    size: 150%;
  }
}
@media (min-width: 1200px) and (max-width: 1439px) {
  section .section-heading {
    font-size: 50pt;
  }
}
@media (min-width: 1072px) and (max-width: 1199px) {
  section .section-heading {
    font-size: 50pt;
  }
}
@media (min-width: 1024px) and (max-width: 1071px) {
  section .section-heading {
    font-size: 48pt;
  }
}
@media (min-width: 992px) and (max-width: 1023px) {
  section .section-heading {
    font-size: 48pt;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  section .section-heading {
    font-size: 45pt;
    margin-top: 50px;
  }
  section .section-subheading {
    font-size: 16pt;
  }
}
/* Minimum width: 425px - Large Mobile */
@media (min-width: 425px) and (max-width: 767px) {
  section .section-heading {
    font-size: 30pt;
    margin-top: 70px;
  }
  section .section-subheading {
    font-size: 20pt;
  }
}
/* Minimum width: 375px - Medium Mobile */
@media (min-width: 375px) and (max-width: 424px) {
  section .section-heading {
    font-size: 24pt;
    margin-top: 70px;
  }
  section .section-subheading {
    font-size: 18pt;
  }
}
/* Minimum width: 350px - size_xs */
@media (min-width: 350px) and (max-width: 374px) {
  section .section-heading {
    font-size: 24pt;
  }
  section .section-subheading {
    font-size: 16pt;
  }
}
/* Minimum width: 320px - Small Mobile */
@media (min-width: 320px) and (max-width: 349px) and (orientation: portrait) {
  section .section-heading {
    font-size: 20pt;
    margin-top: 60px;
  }
  section .section-subheading {
    font-size: 16pt;
  }
}
@media (min-width: 1px) and (max-width: 319px) {
  section {
    display: none;
  }
}
.home-section {
  background: -webkit-linear-gradient(#056402, #F5F5F5);
  background: -moz-linear-gradient(#056402, #F5F5F5);
  background: -ms-linear-gradient(#056402, #F5F5F5);
  background: -o-linear-gradient(#056402, #F5F5F5);
  background: linear-gradient(#056402, #F5F5F5);
}
.home-section .section-heading {
  font-family: "Droid Serif", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  text-transform: none;
  color: #F5F5F5;
  font-style: italic;
  padding: 0px 10px 0px;
  text-shadow: 2px 3px 4px #56c963;
}
.home-section #learnMore {
  border: 2px solid #77fd77;
  margin: 0px auto;
  text-align: center;
}
.website-section {
  background: -webkit-linear-gradient(#ffffff, #F5F5F5, transparent);
  background: -moz-linear-gradient(#ffffff, #F5F5F5, transparent);
  background: -ms-linear-gradient(#ffffff, #F5F5F5, transparent);
  background: -o-linear-gradient(#ffffff, #F5F5F5, transparent);
  background: linear-gradient(#ffffff, #F5F5F5, transparent);
}
.website-section .about-text {
  color: #000000;
  margin-left: 50px;
  margin-right: 50px;
}
.website-section .section-subheading {
  color: #056402;
}
.website-section img {
  height: 60px;
  width: auto;
}
.photo-gallery-section {
  color: #000000;
  background: -webkit-linear-gradient(#F5F5F5, #77fd77, #ffffff);
  background: -moz-linear-gradient(#F5F5F5, #77fd77, #ffffff);
  background: -ms-linear-gradient(#F5F5F5, #77fd77, #ffffff);
  background: -o-linear-gradient(#F5F5F5, #77fd77, #ffffff);
  background: linear-gradient(#F5F5F5, #77fd77, #ffffff);
}
.photo-gallery-section .section-heading {
  color: #056402;
  margin: 50px 0px 0px 0px;
  text-shadow: 3px 2px 5px #808080;
}
.photo-gallery-section .section-subheading {
  color: #000000;
  margin: 0px auto 0px;
  text-shadow: 2px 2px 6px #000000;
}
.photo-gallery-section .section-subheading h4 {
  text-shadow: 0px 0px 0px;
}
.photo-gallery-section .primary {
  font-size: 14pt;
  text-shadow: 0px 0px 1px #000000;
}
.photo-gallery-section .theResults {
  color: #000000;
  font-size: 12pt;
  text-shadow: 0px 0px 0px;
}
.photo-gallery-section .photos {
  border-radius: inherit;
  border-radius: 25px;
  display: inline-block;
  height: 336px;
  margin: 2px auto;
  text-align: center;
}
.photo-gallery-section .photos .flip3D {
  height: 288px;
  object-fit: contain;
}
.photo-gallery-section .photos .flip3D .front img {
  height: 240px;
}
.photo-gallery-section .photos .flip3D .back {
  font-size: 12pt;
}
.photo-gallery-section .photos .flip3D .back #fullscreenBtn {
  margin: 0px auto;
  text-align: center;
}
.photo-gallery-section .photos .flip3D .back .hilight {
  color: #056402;
}
.photo-fullscreen-section {
  color: #F5F5F5;
  font-weight: normal;
  background: -webkit-linear-gradient(#666666, #000000, transparent);
  background: -moz-linear-gradient(#666666, #000000, transparent);
  background: -ms-linear-gradient(#666666, #000000, transparent);
  background: -o-linear-gradient(#666666, #000000, transparent);
  background: linear-gradient(#666666, #000000, transparent);
}
.photo-fullscreen-section .section-heading {
  color: #000000;
  margin: 50px 0px 0px 0px;
  text-shadow: 3px 2px 5px #666666;
}
.photo-fullscreen-section #fullscreenPhoto {
  margin: 0px auto 10px;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider {
  margin-left: 10px;
  position: absolute;
  top: 0px;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .imgSizeLbl {
  background-color: #000000;
  margin: 0px auto 5px;
  position: relative;
  text-align: left;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize {
  border: 1px solid #77fd77;
  margin: 0px;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range] {
  -webkit-appearance: none;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]::-webkit-slider-runnable-track {
  background: #A3A3A3;
  border: 0px;
  border-radius: 3px;
  height: 5px;
  width: auto;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: goldenrod;
  border: 0px;
  border-radius: 50%;
  height: 16px;
  margin-top: -4px;
  width: 16px;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]:focus {
  outline: none;
}
.photo-fullscreen-section #fullscreenPhoto #imgSizeSlider .slideImgSize input[type=range]:focus::-webkit-slider-runnable-track {
  background: #A3A3A3;
}
.photo-fullscreen-section #fullscreenPhoto .img {
  border: 1px solid #FF0000;
  margin: 50px auto 5px;
}
/*****************************************************************************
 ** END OF FILE - sections.less
 ****************************************************************************/
/*# sourceMappingURL=sections.css.map */