<!doctype html>
<!--
/*
 * @ngdoc overview
 * @name home.html
 *
 * @description
 * AngularJS partials view - Home screen.
 *
 */
-->

<section class="home-section">
    
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-3 col-md-6 col-sm-12 col-xs-12 text-center">
            <div class="section-heading">CPMG Test Angular Website</div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="panel panel-success">
            <div class="panel-heading">
                Website Test Criteria
            </div>
            <div class="panel-body">
                    This is the Cordell Practice Management Group Technical 
                    assessment.  The manager has requested that all potential 
                    candidates take this technical assessment.
                    <br/><br/>
                    INSTRUCTIONS:<br/>
                    Using the demo REST API at 
                    <a target="blank" href="http://jsonplaceholder.typicode.com">
                        http://jsonplaceholder.typicode.com</a>, put together a 
                    simple AngularJS app to display and navigate the data. 
                    <br/>The pieces of data you use, and how you display it, 
                    is entirely up to you.
                    <br/><br/>
                    NOTE: In completing this assessment, I've used the 
                    photos API call at:
                    <a target="blank" href="http://jsonplaceholder.typicode.com/photos">
                    http://jsonplaceholder.typicode.com/photos</a>    
            </div>
                
                
        </div>
    </div>
    <br/>
    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <a id="learnMore" class="btn btn-success" href="#/website">
                <span>Learn More</span>
            </a>

        </div>
    </div>
    <br/><br/><br/><br/>
</section>
